<h1>Mediterranean Magic Encounter 3</h1>
<div class="d-flex justify-content-between mb-3">
 <a routerLink="/ambiente2/menu1" class="btn btn-outline-secondary">Menu1</a>
 <a routerLink="/ambiente2/menu2" class="btn btn-outline-secondary">Menu2</a>
</div>
 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/23.jpg" alt="Carpaccio" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Carpaccio</i></p>
         <p class="card-text"> Finas láminas de carne cruda con limón, aceite de oliva y parmesano.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/24.jpg" alt="Osso Buco" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Osso Buco</i></p>
         <p class="card-text"> Jarrete de ternera cocido lentamente en salsa de hierbas y vino blanco.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/25.jpg" alt="Panna Cotta" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Tartufo</i></p>
         <p class="card-text"> Postre italiano de helado con chocolate, nueces o frutas.</p>
        
       </div>
     </div>
   </div>
 </div>


