
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 login-container">
                <h2>Iniciar Sesión</h2>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Usuario" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                    </div>
                    <button routerLink="/register" class="btn btn-primary btn-block">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>

</body>
