<h1>Mystical Andes Gastronomy 3 </h1>
<div class="d-flex justify-content-between mb-3">
 <a routerLink="/ambiente3/menu1" class="btn btn-outline-secondary">Menu1</a>
 <a routerLink="/ambiente3/menu2" class="btn btn-outline-secondary">Menu2</a>
</div>
 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/32.jpg" alt="Papa a la Huancaina" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Papa a la Huancaina</i></p>
         <p class="card-text">Papas en salsa de ají amarillo y queso fresco para comenzar.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/33.jpg" alt="Aji de Gallina" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Aji de Gallina</i></p>
         <p class="card-text">  Pollo desmenuzado en salsa suave y picante de ají amarillo con nueces.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/34.jpg" alt="Mazamorra Morada" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Mazamorra Morada</i></p>
         <p class="card-text">Postre peruano de maíz morado con frutas y canela.</p>
        
       </div>
     </div>
   </div>
 </div>


