<h1>Sakura Delights Journey 2</h1>
<div class="d-flex justify-content-between mb-3">
  <a routerLink="/ambiente1/menu1" class="btn btn-outline-secondary">Menú 1</a>
  <a routerLink="/ambiente1/menu3" class="btn btn-outline-secondary">Menú 3</a>
</div>

<div class="card menu-card">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="../../../../assets/img/11.jpg" alt="Gyoza" class="card-img" style="max-width: 50%;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-title"><i>Gyoza</i></p>
        <p class="card-text">Dumplings  rellenos de carne o verduras.</p>
      </div>
    </div>
  </div>
</div>

<div class="card menu-card">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="../../../../assets/img/12.jpg" alt="Teriyaki de Salmón" class="card-img" style="max-width: 50%;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-title"><i>Teriyaki de Salmón</i></p>
        <p class="card-text">Salmón glaseado con salsa teriyaki.</p>
      </div>
    </div>
  </div>
</div>

<div class="card menu-card">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="../../../../assets/img/13.jpg" alt="Dorayaki" class="card-img" style="max-width: 50%;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-title"><i>Dorayaki</i></p>
        <p class="card-text">Panqueques japoneses rellenos de anko.</p>
      </div>
    </div>
  </div>
</div>
