<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="formulario-container">
        <div class="text-center mb-4">
          <h1 class="d-inline-block gradient-title">Formulario</h1>
          <strong><h1 class="d-inline-block">-</h1></strong>
          <h1 class="d-inline-block gradient-title">Reservas</h1>
        </div>
        <form >
          <div class="form-group">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" >
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" >
          </div>
          <div class="form-group">
            <label for="cedula">Número de cedula</label>
            <input type="text" class="form-control" id="cedula" name="cedula" >
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="tel" class="form-control" id="telefono" name="telefono" >
          </div>
          <div class="form-group">
            <label for="correo">Correo Electrónico</label>
            <input type="email" class="form-control" id="correo" name="correo">
          </div>
          <br>
          <button routerLink="/formulario2" class="btn btn-light">Reservar</button>
          <br>
          <br>
          <a href='/' class="btn btn-dark">Cancelar</a>
        </form>
      </div>
    </div>
  </div>

</div>
</body>
