<h1>Romantic Ristorante Italia 1</h1>
<div class="d-flex justify-content-between mb-3">
 <a routerLink="/ambiente2/menu2" class="btn btn-outline-secondary">Menu2</a>
 <a routerLink="/ambiente2/menu3" class="btn btn-outline-secondary">Menu3</a>
</div>
 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/17.jpg" alt="Antipasto" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Antipasto</i></p>
         <p class="card-text">Inicie con quesos, embutidos y aceitunas italianas.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/18.jpg" alt="Lasagna" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Lasagna</i></p>
         <p class="card-text"> Plato fuerte con capas de pasta, carne y queso gratinado.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/19.jpg" alt="Tiramisú" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Tiramisú</i></p>
         <p class="card-text"> Concluya con el clásico postre italiano de café, mascarpone y cacao.</p>
        
       </div>
     </div>
   </div>
 </div>


