<h1>Andean Flavors Expedition 1</h1>
<div class="d-flex justify-content-between mb-3">
 <a routerLink="/ambiente3/menu2" class="btn btn-outline-secondary">Menu2</a>
 <a routerLink="/ambiente3/menu3" class="btn btn-outline-secondary">Menu3</a>
</div>
 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/26.jpg" alt="Ceviche" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Ceviche</i></p>
         <p class="card-text"> Pescado fresco marinado en limón, cilantro y ají, acompañado de camote y maíz.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/27.jpg" alt="Lomo Saltado" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Lomo Saltado</i></p>
         <p class="card-text"> Carne de res salteada con vegetales, papas.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/28.jpg" alt="Suspiro Limeño" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Suspiro Limeño</i></p>
         <p class="card-text">Postre tradicional con manjar blanco y merengue.</p>
        
       </div>
     </div>
   </div>
 </div>


