<div class="container mx-auto">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center"><i>Menus mas pedidos</i></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/img/35.jpg" class="card-img-top" alt="Plato 1" />
          <div class="card-body">
            <h5 class="card-title"><i>Menu de Japon</i></h5>
            <p class="card-text">Sumérgete en la exquisita tradición culinaria de Japón, donde la frescura y la armonía de los ingredientes se fusionan para crear una experiencia única para tu paladar.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/img/36.jpg" class="card-img-top" alt="Plato 2" />
          <div class="card-body">
            <h5 class="card-title"><i>Menu de Italia</i></h5>
            <p class="card-text">Embárcate en un viaje culinario a través de las delicias de Italia, donde la pasión por los ingredientes frescos y los sabores auténticos se fusionan.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/img/37.jpg" class="card-img-top" alt="Plato 3" />
          <div class="card-body">
            <h5 class="card-title"><i>Menu de Peru</i></h5>
            <p class="card-text">Embárcate en un festín de sabores vibrantes y aromas exóticos mientras exploras la rica y diversa cocina del Perú.</p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-center">Lugares de Reserva</h2>

    <div class="row">
      <div class="col-md-4">
        <div class="card bg-white text-dark">
          <a routerLink="/ambiente1">
            <img class="card-img-top img-fluid d-block" src="../../../../assets/img/45.jpg" alt="Lugar 1" >
          </a>
          <div class="card-body">
            <h5 class="card-title"><i>"Seleccione la imagen para mayor información"</i></h5>
            <div class="card-content">
              <h5 class="card-text"><i>Japon</i></h5>
              <p class="card-text">Descripción: En el país del sol naciente, cada bocado es una danza delicada de sabores, donde la precisión en el sushi, la perfección en el ramen.</p>
              <p class="card-text">Precio: $350</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="card bg-white text-dark">
          <a routerLink="/ambiente2">
            <img class="card-img-top img-fluid d-block" src="../../../../assets/img/46.jpg" alt="Lugar 2">
          </a>
          <div class="card-body">
            <h5 class="card-title"><i>"Seleccione la imagen para mayor información"</i></h5>
            <div class="card-content">
              <h5 class="card-text"><i>Italia</i></h5>
              <p class="card-text">Descripción: Donde la simplicidad de la pasta se entrelaza con la sofisticación de las salsas, creando un ballet de sabores que captura la elegancia.</p>
              <p class="card-text">Precio: $350</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="card bg-white text-dark">
          <a routerLink="/ambiente3">
            <img class="card-img-top img-fluid d-block" src="../../../../assets/img/43.jpg" alt="Lugar 3" >
          </a>
          <div class="card-body">
            <h5 class="card-title"><i>"Seleccione la imagen para mayor información"</i></h5>
            <div class="card-content">
              <h5 class="card-text"><i>Peru</i></h5>
              <p class="card-text">Descripción: En las alturas de los Andes y las costas del Pacífico, la gastronomía peruana es un festín de identidad, fusionando contrastes y tradiciones.</p>
              <p class="card-text">Precio: $350</p>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
    </div>
    </div>
    