<h1>Peruvian Culinary Odyssey 2</h1>
<div class="d-flex justify-content-between mb-3">
 <a routerLink="/ambiente3/menu1" class="btn btn-outline-secondary">Menu1</a>
 <a routerLink="/ambiente3/menu3" class="btn btn-outline-secondary">Menu3</a>
</div>
 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/29.jpg" alt="Anticuchos" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Anticuchos</i></p>
         <p class="card-text">Brochetas de carne de res asadas con papas y salsa de ají.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/30.jpg" alt="Seco de Cordero" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Seco de Cordero</i></p>
         <p class="card-text">  Cordero cocido a fuego lento con hierbas, especias, frijoles y arroz.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/31.jpg" alt="Tres Leches: " class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Tres Leches</i></p>
         <p class="card-text">Pastel empapado en tres leches con merengue, para finalizar.</p>
        
       </div>
     </div>
   </div>
 </div>


