<div class="menu-container">
  <h1>Zen Gastronomy Voyage 3</h1>
  <a routerLink="/ambiente1/menu1"><button type="button" class="btn btn-outline-secondary">Menu1</button></a>
  <a routerLink="/ambiente1/menu2"><button type="button" class="btn btn-outline-secondary">Menu2</button></a>

  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/14.jpg" alt="Yakitori" class="card-img" style="max-width: 50%;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <p class="card-title"><i>Yakitori</i></p>
          <p class="card-text">Brochetas de pollo a la parrilla con salsa teriyaki.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/15.jpg" alt="Gyudon" class="card-img" style="max-width: 50%;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <p class="card-title"><i>Gyudon</i></p>
          <p class="card-text">Arroz con tiras finas de carne de res cocidas en salsa de soja, mirin y azúcar.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/16.jpg" alt="Matcha Tiramisú" class="card-img" style="max-width: 50%;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <p class="card-title"><i>Matcha Tiramisú</i></p>
          <p class="card-text">Tiramisú con un toque de matcha, un delicioso postre .</p>
        </div>
      </div>
    </div>
  </div>
</div>



