 <h1>Tokyo Fusion Experience 1</h1>
 <div class="d-flex justify-content-between mb-3">
  <a routerLink="/ambiente1/menu2" class="btn btn-outline-secondary">Menu2</a>
  <a routerLink="/ambiente1/menu3" class="btn btn-outline-secondary">Menu3</a>
</div>
  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/7.jpg" alt="Sushi" class="card-img" style="max-width: 50%;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <p class="card-title"><i>Sushi</i></p>
          <p class="card-text">Deliciosa mezcla de arroz y pescado fresco.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/6.jpg" alt="Ramen" class="card-img" style="max-width: 50%;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <p class="card-title"><i>Ramen</i></p>
          <p class="card-text">Tazón de fideos japoneses en caldo con carne, huevo y verduras.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="card menu-card">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../../../../assets/img/5.jpg" alt="Mochi" class="card-img" style="max-width: 50%;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <p class="card-title"><i>Mochi</i></p>
          <p class="card-text">Postre japonés de arroz glutinoso con relleno.</p>
         
        </div>
      </div>
    </div>
  </div>

