<h1>Dolce Vita Culinary Expedition 2</h1>
<div class="d-flex justify-content-between mb-3">
 <a routerLink="/ambiente2/menu1" class="btn btn-outline-secondary">Menu1</a>
 <a routerLink="/ambiente2/menu3" class="btn btn-outline-secondary">Menu3</a>
</div>
 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/20.jpg" alt="Bruschetta" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Bruschetta</i></p>
         <p class="card-text"> Inicie con pan tostado, ajo, tomates frescos y albahaca.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/21.jpg" alt="Risotto" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Risotto</i></p>
         <p class="card-text"> Plato fuerte exquisito de arroz cremoso cocido con champiñones y parmesano.</p>
       </div>
     </div>
   </div>
 </div>


 <div class="card menu-card">
   <div class="row no-gutters">
     <div class="col-md-6">
       <img src="../../../../assets/img/22.jpg" alt="Panna Cotta" class="card-img" style="max-width: 50%;">
     </div>
     <div class="col-md-6">
       <div class="card-body">
         <p class="card-title"><i>Panna Cotta</i></p>
         <p class="card-text">Concluya con Panna Cotta, un postre italiano sedoso con toque de frutas frescas.</p>
        
       </div>
     </div>
   </div>
 </div>


