<body>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div class="formulario-container">
          <div class="text-center mb-4">
            <h1 class="d-inline-block gradient-title">formulario2</h1>
            <strong><h1 class="d-inline-block">-</h1></strong>
            <h1 class="d-inline-block gradient-title">Reservas</h1>
          </div>
          <form action="" method="POST">
            <div class="form-group">
              <label for="ambiente">Ambiente</label>
              <select class="form-control" id="ambiente" name="ambiente" >
                <option value="">Seleccione el ambiente que desea reservar</option>
                <option value=""></option>
              </select>
            </div>
            <div class="form-group">
              <label for="fecha">Fecha de Reserva</label>
              <input type="date" class="form-control" id="fecha" name="fecha" >
            </div>
            <div class="form-group">
              <label for="cantidad">Cantidad de Personas</label>
              <input type="number" class="form-control" id="cantidad" name="cantidad" >
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar Reserva</button>
            <label for="mensaje" name="mensaje" style="color: brown;">dgs</label>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
